In [3]:
import pandas as pd

In [6]:
# Load the data with the correct separator
df = pd.read_csv('../data/insurance_claims.txt', sep='|')

# Show the first few rows
df.head()

C:\Users\yonat\AppData\Local\Temp\ipykernel_83292\2417215784.py:2: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/insurance_claims.txt', sep='|')

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [8]:
df.info()
df.isnull().sum().sort_values(ascending=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000098 entries, 0 to 1000097
Data columns (total 52 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   UnderwrittenCoverID       1000098 non-null  int64
 1   PolicyID                  1000098 non-null  int64
 2   TransactionMonth          1000098 non-null  object
 3   IsVATRegistered           1000098 non-null  bool
 4   Citizenship               1000098 non-null  object
 5   LegalType                 1000098 non-null  object
 6   Title                     1000098 non-null  object
 7   Language                  1000098 non-null  object
 8   Bank                      854137 non-null   object
 9   AccountType               959866 non-null   object
 10  MaritalStatus             991839 non-null   object
 11  Gender                    990562 non-null   object
 12  Country                   1000098 non-null  object
 13  Province                  1000098 non-null  object
 14  PostalCode                1000098 non-null  int64
 15  MainCrestaZone            1000098 non-null  object
 16  SubCrestaZone             1000098 non-null  object
 17  ItemType                  1000098 non-null  object
 18  mmcode                    999546 non-null   float64
 19  VehicleType               999546 non-null   object
 20  RegistrationYear          1000098 non-null  int64
 21  make                      999546 non-null   object
 22  Model                     999546 non-null   object
 23  Cylinders                 999546 non-null   float64
 24  cubiccapacity             999546 non-null   float64
 25  kilowatts                 999546 non-null   float64
 26  bodytype                  999546 non-null   object
 27  NumberOfDoors             999546 non-null   float64
 28  VehicleIntroDate          999546 non-null   object
 29  CustomValueEstimate       220456 non-null   float64
 30  AlarmImmobiliser          1000098 non-null  object
 31  TrackingDevice            1000098 non-null  object
 32  CapitalOutstanding        1000096 non-null  object
 33  NewVehicle                846803 non-null   object
 34  WrittenOff                358197 non-null   object
 35  Rebuilt                   358197 non-null   object
 36  Converted                 358197 non-null   object
 37  CrossBorder               698 non-null      object
 38  NumberOfVehiclesInFleet   0 non-null        float64
 39  SumInsured                1000098 non-null  float64
 40  TermFrequency             1000098 non-null  object
 41  CalculatedPremiumPerTerm  1000098 non-null  float64
 42  ExcessSelected            1000098 non-null  object
 43  CoverCategory             1000098 non-null  object
 44  CoverType                 1000098 non-null  object
 45  CoverGroup                1000098 non-null  object
 46  Section                   1000098 non-null  object
 47  Product                   1000098 non-null  object
 48  StatutoryClass            1000098 non-null  object
 49  StatutoryRiskType         1000098 non-null  object
 50  TotalPremium              1000098 non-null  float64
 51  TotalClaims               1000098 non-null  float64
dtypes: bool(1), float64(11), int64(4), object(36)
memory usage: 390.1+ MB

NumberOfVehiclesInFleet     1000098
CrossBorder                  999400
CustomValueEstimate          779642
Rebuilt                      641901
Converted                    641901
WrittenOff                   641901
NewVehicle                   153295
Bank                         145961
AccountType                   40232
Gender                         9536
MaritalStatus                  8259
NumberOfDoors                   552
VehicleType                     552
kilowatts                       552
cubiccapacity                   552
Cylinders                       552
Model                           552
make                            552
VehicleIntroDate                552
bodytype                        552
mmcode                          552
CapitalOutstanding                2
TermFrequency                     0
CalculatedPremiumPerTerm          0
ExcessSelected                    0
CoverCategory                     0
CoverType                         0
CoverGroup                        0
Section                           0
Product                           0
StatutoryClass                    0
StatutoryRiskType                 0
TotalPremium                      0
SumInsured                        0
UnderwrittenCoverID               0
TrackingDevice                    0
Country                           0
TransactionMonth                  0
IsVATRegistered                   0
Citizenship                       0
LegalType                         0
Title                             0
Language                          0
Province                          0
AlarmImmobiliser                  0
PostalCode                        0
MainCrestaZone                    0
SubCrestaZone                     0
ItemType                          0
RegistrationYear                  0
PolicyID                          0
TotalClaims                       0
dtype: int64

In [9]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
UnderwrittenCoverID,1000098.0,NaN,NaN,NaN,104817.546075,63293.708455,1.0,55143.0,94083.0,139190.0,301175.0
PolicyID,1000098.0,NaN,NaN,NaN,7956.68245,5290.03851,14.0,4500.0,7071.0,11077.0,23246.0
TransactionMonth,1000098,23,2015-08-01 00:00:00,106747,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IsVATRegistered,1000098,2,False,995075,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Citizenship,1000098,4,,895210,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LegalType,1000098,6,Individual,911929,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Title,1000098,5,Mr,933555,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Language,1000098,1,English,1000098,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bank,854137,11,First National Bank,260811,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AccountType,959866,3,Current account,597938,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MaritalStatus,991839,3,Not specified,986208,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gender,990562,3,Not specified,940990,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,1000098,1,South Africa,1000098,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Province,1000098,9,Gauteng,393865,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PostalCode,1000098.0,NaN,NaN,NaN,3020.600887,2649.854413,1.0,827.0,2000.0,4180.0,9870.0
MainCrestaZone,1000098,16,Transvaal (all except Pretoria),296187,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SubCrestaZone,1000098,45,Johannesburg,176020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ItemType,1000098,1,Mobility - Motor,1000098,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mmcode,999546.0,NaN,NaN,NaN,54877704.020474,13603805.343562,4041200.0,60056925.0,60058415.0,60058418.0,65065350.0
VehicleType,999546,5,Passenger Vehicle,933598,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RegistrationYear,1000098.0,NaN,NaN,NaN,2010.225371,3.261391,1987.0,2008.0,2011.0,2013.0,2015.0
make,999546,46,TOYOTA,813280,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Model,999546,411,QUANTUM 2.7 SESFIKILE 16s,186087,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cylinders,999546.0,NaN,NaN,NaN,4.046642,0.29402,0.0,4.0,4.0,4.0,10.0
cubiccapacity,999546.0,NaN,NaN,NaN,2466.743258,442.80064,0.0,2237.0,2694.0,2694.0,12880.0
kilowatts,999546.0,NaN,NaN,NaN,97.207919,19.393256,0.0,75.0,111.0,111.0,309.0
bodytype,999546,13,B/S,844400,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NumberOfDoors,999546.0,NaN,NaN,NaN,4.01925,0.468314,0.0,4.0,4.0,4.0,6.0
VehicleIntroDate,999546,174,4/2012,287638,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CustomValueEstimate,220456.0,NaN,NaN,NaN,225531.129942,564515.749848,20000.0,135000.0,220000.0,280000.0,26550000.0
AlarmImmobiliser,1000098,2,Yes,999861,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TrackingDevice,1000098,2,No,656617,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CapitalOutstanding,1000096.0,1011.0,0.0,665918.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NewVehicle,846803,2,More than 6 months,845223,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WrittenOff,358197,2,No,358165,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rebuilt,358197,2,No,358165,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Converted,358197,2,No,358110,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CrossBorder,698,1,No,698,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NumberOfVehiclesInFleet,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SumInsured,1000098.0,NaN,NaN,NaN,604172.732589,1508331.837996,0.01,5000.0,7500.0,250000.0,12636200.0
TermFrequency,1000098,2,Monthly,999554,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CalculatedPremiumPerTerm,1000098.0,NaN,NaN,NaN,117.875691,399.701721,0.0,3.2248,8.4369,90.0,74422.1679
ExcessSelected,1000098,13,No excess,791235,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CoverCategory,1000098,28,Passenger Liability,104158,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CoverType,1000098,22,Own Damage,104183,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CoverGroup,1000098,14,Comprehensive - Taxi,824124,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Section,1000098,5,Motor Comprehensive,828125,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Product,1000098,4,Mobility Commercial Cover: Monthly,915028,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StatutoryClass,1000098,1,Commercial,1000098,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StatutoryRiskType,1000098,1,IFRS Constant,1000098,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TotalPremium,1000098.0,NaN,NaN,NaN,61.905496,230.284513,-782.576754,0.0,2.178333,21.929825,65282.603421
TotalClaims,1000098.0,NaN,NaN,NaN,64.86119,2384.074695,-12002.412281,0.0,0.0,0.0,393092.105263